<!DOCTYPE html>
<html>
    <head>
        <title>
            Best BLOG
        </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
         <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
    <div class="ui menu inverted" >
  <div class="header item">
<i class="terminal icon"></i>
    Sam's Blog
  </div>
  <a class="item" href="/" style="text-transform: capitalize;">
    home
  </a>
  <a class="item" href="/blogs" style="text-transform: capitalize;">
    blogs
  </a>
  <a class="item active" href="/blogs/new" style="text-transform: capitalize;">
    add new
  </a>
</div>